@import "../tokens.scss";

.folders-card {
  background: $base;
  border-radius: $rad;
  padding: 8px 14px;
  min-width: 150px;


  .folder-btn {
    margin-left: 18px;
    padding: 4px 0;

    &:hover {

      .folder-icon,
      .folder-text {
        color: rgba(255, 255, 255, 0.95);
      }
    }
  }

  .folder-icon {
    font-size: 20px;
  }

  .folder-text {
    font-size: $normal;
  }

  .git {

    .folder-icon,
    .folder-text {
      color: $peach;
    }
  }

  .doc {

    .folder-icon,
    .folder-text {
      color: $maroon;
    }
  }

  .dl {

    .folder-icon,
    .folder-text {
      color: $green;
    }
  }

  .pic {

    .folder-icon,
    .folder-text {
      color: $blue;
    }
  }

  .cfg {

    .folder-icon,
    .folder-text {
      color: $mauve;
    }
  }
}
