@import "../tokens.scss";

.music-card {
  background: $base;
  border-radius: $rad;
  padding: 14px;

  .music-cover {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }

  .music-info {
    margin-left: 10px;
    margin-top: 12px;

    .music-title {
      font-size: $normal;
      font-weight: bold;
      color: $text;
    }

    .music-artist {
      font-size: $normal;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .music-controls {
    button {
      font-size: $larger;
      color: $text;
      padding: 4px 8px;
      transition: all 0.2s ease;

      &:hover {
        color: $blue;
      }
    }
  }
}
