@import "../tokens.scss";

.todo-card {

  background: $surface0;
  border-radius: $rad;
  padding: 14px;

  label {
    color: $text;
    font-family: "Inter";
    font-size: 15px;
  }

  .icon-one,
  .icon-two,
  .icon-three {
    color: $blue;
    font-size: 13px;
  }
}
