@import "../tokens.scss";

.web-card {
  background-color: $base;
  padding: 24px;
  border-radius: $rad;

  .web-btn {
    background-color: $base;
    border-radius: $rad;
    box-shadow: none;

    min-width: 60px;
    min-height: 40px;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    .web-icon {
      font-size: 40px;
    }
  }

  .web-arch,
  .web-github,
  .web-instagram,
  .web-whatsapp,
  .web-gmail {
    background: transparent;
  }

  .arch-btn {
    .arch-icon {
      color: $sapphire;
      margin: 0 5.5px 2px 0;
    }

    &:hover {
      background-color: rgba($sapphire, 0.2);
    }
  }

  .github-btn {
    .github-icon {
      color: $mauve;
      margin: 0 6px 2px 0;
    }

    &:hover {
      background-color: rgba($mauve, 0.2);

    }
  }

  .instagram-btn {
    .instagram-icon {
      color: $pink;
      margin-right: 7px;
    }

    &:hover {
      background-color: rgba($pink, 0.2);
    }
  }

  .whatsapp-btn {
    .whatsapp-icon {
      color: $green;
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba($green, 0.2);
    }
  }

  .gmail-btn {
    .gmail-icon {
      color: $red;
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba($red, 0.2);
    }
  }
}
