@import "../tokens.scss";


.ws-pill {
  border-radius: 99px;
  padding: 0;
  min-height: 14px;
  min-width: 14px;

  &.active {
    min-width: 38px;
    background-image: linear-gradient(to right, $sapphire, $teal);
  }

  &.occupied {
    background-color: $text;
  }

  &.urgent {
    background-color: $maroon;
  }

  &.empty {
    background-color: $surface0;
  }

  &:hover {
    background-color: $blue;
  }
}
